{% load staticfiles %}

<!DOCTYPE html>
<html>
<head>
    <title>{% block title %}{% endblock %}</title>
    {% block meta %}{% endblock %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script type="text/javascript" src="{% static 'js/underscore-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone-min.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/backbone-tastypie.js' %}"></script>
</head>
<body>
    {% block content %}{% endblock %}
</body>
</html>