{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<script type="text/template" id="templateForm">
    <form id="profileForm">
        {% csrf_token %}
        <label>country: </label>
        <input name="country" type="text" id="country" value="<%= country %>"><br/>
        <label>city: </label>
        <input name="city" type="text" id="city" value="<%= city %>"><br/>
        <label>zip code: </label>
        <input name="zip_code" type="text" id="zip_code" value="<%= zip_code %>"><br/>
        <label>about your self: </label>
        <input name="user_desciption" type="text" id="user_desciption" value="<%= user_desciption %>"><br/>
        <input type="submit" id="change" value="Change">
    </form>
</script>
<script type="text/javascript">
$(function(){
    
    ProfileModel = Backbone.Model.extend({
        urlRoot: '/api/v1/private-profile/',
        defaults: {
            'country' : '',
            'city' : '',
            'zip_code' : '',
            'user_desciption' : ''
        }
    });

    ProfileView = Backbone.View.extend({
        el: '#profileForm',
        events: {
            'click #change': 'submitUpdate'
        },
        initialize: function() {
            _.bindAll(this, 'submitUpdate', 'render');
            this.model = new ProfileModel();
            var that = this;
            this.model.fetch({
                success: function(profile){
                    that.render(profile.toJSON());
                }
            })
        },
        submitUpdate: function() {
            var form = this.$el;
            var self = this;
            var unindexed_array = form.serializeArray();
            var data = {};

            unindexed_array.forEach(function(n){
                data[n.name] = n.value;
            });             
            self.model.set( data );
            self.model.save();
        },
        render: function(n) {
            var template = _.template( $("#templateForm").html(), n );
            this.$el.html( template );
        },
    });

    return new ProfileView()
})
</script>
<h5>Vaaavaaa</h5>
<div id="profileForm"></div>

{% endblock %}
