{% extends "base.html" %}
{% block title %}Home{% endblock %}

{% block content %}
<script type="text/javascript">
$(function(){
    ProfileModel = Backbone.Model.extend({
        
        initialize: function() {
        },

        urlRoot: function() {
            return '/api/v1/profile';
        },

    });

    Profiles = Backbone.Collection.extend({
        
        model: ProfileModel,

        url : '/api/v1/profile/',
    });

    // var profile = new ProfileModel({ id: 1 });

    // profile.fetch({
    //     success: function(profile) {
    //         var u = profile.toJSON();
    //         alert(u['country']);
    //     }
    // });
    // alert(profile.toJSON());

    // CollectionProfiles = new Profiles;



    ProfileView = Backbone.View.extend({
        
        el: '#booka',

        initialize: function() {
            _.bindAll(this, 'render');
            this.model = new ProfileModel();
            var that = this;
            this.model.fetch({
                success: function(profile) {
                    that.render(profile.toJSON());
                }
            });
        },

        template: _.template("<div> country: <%- country %>, ionfo: <%- user_desciption %>, city: <%- city  %> </div>"),

        render: function(n) {
            alert(JSON.stringify(n));
            this.$el.html(this.template(n));
        }

    });

    return new ProfileView()

    // ExampleList = Backbone.View.extend({
        
    //     el: '#booka',

    //     initialize: function(options) {
    //         this.listenTo(CollectionProfiles, 'reset', this.addAll, this);
    //     },

    //     addOne: function(model) {
    //         var view = new ListItem ({ model : model });
    //         console.log(view.render().el);
    //         this.$el.append(view.render().el);
    //     },

    //     addAll: function() {
    //         var sample = this;
    //         Profiles.each(function(model){
    //             sample.addOne(model);
    //         });
    //     },

    //     render : function() {
    //         this.$el.html(this.template());
    //         return this;
    //     } 
    // });

    // CollectionProfiles.fetch({ reset : true })
})
</script>
<h5>BooBaa</h5>
<div id="booka"></div>
{% endblock %}
